.bs-sidebar.hidden-print.affix(role="complementary")
  %ul.nav.bs-sidenav
    %li(ui-sref-active="active")
      %a(ui-sref="documentation.contents")= t('documentation.table_of_contents')
    %li(ui-sref-active="active")
      %a(ui-sref="documentation.send_message")= t('documentation.send_message')
    %li(ui-sref-active="active")
      %a(ui-sref="documentation.contacts")= t('documentation.contacts')
    %li(ui-sref-active="active")
      %a(ui-sref="documentation.add_contact")= t('documentation.add_contact')
    %li(ui-sref-active="active")
      %a(ui-sref="documentation.delete_contact")= t('documentation.delete_contact')
