%table.table.table-hover
  %thead
    %tr
      %th(colspan=3)
        Параметры авторизации
    %tr
      %th Параметр
      %th Обазательный
      %th Описание
  %tbody
    %tr
      %td
        %code access_token
      %td Да
      %td Авторизацию по вашему ключу (access_token). Этот способ авторизации - самый удобный и приведен в примере выше.
