%table.table.table-hover
  %thead
    %tr
      %th(colspan=3)
        Варианты ответа
    %tr
      %th Ответ
      %th Описание
  %tbody
    %tr
      %td
        %code {status: "ok"}
      %td
        Успешный статус в формате json
    %tr
      %td
        %code {status: "error", errors: "Текст ошибки"}
      %td
        Статус, возвращаемый при ошибке. Текст ошибок приведен в параметре errors
