= render 'page_header', title: t('documentation.add_contact')

%p.lead= t('documentation.add_contact_description')

%p
  Пример с использованием
  %b http
  %pre
    = preserve do
      :escaped
        http://95.85.42.60/api/v1/contacts/add?access_token={{user.access_token}}&number=9888888888

%p
  Пример на
  %b PHP
  %pre
    = preserve do
      :escaped
        $body = file_get_contents("http://95.85.42.60/api/v1/contacts/add?access_token={{user.access_token}}&number=9888888888");

%br
%p.lead
  Адрес метода:
%blockquote
  %b http://95.85.42.60/api/v1/contacts/add

%table.table.table-hover
  %thead
    %tr
      %th(colspan=3)
        Параметры метода
    %tr
      %th Параметр
      %th Обязательный
      %th Описание
  %tbody
    %tr
      %td
        %code number
      %td
        Да
      %td
        Номер телефона, который вы хотите добавить в список

= render 'templates/documentation/authorization_params'
= render 'templates/documentation/contact_statuses'
