= render 'page_header', title: t('documentation.contacts')

%p.lead= t('documentation.contacts_description')

%p
  Пример с использованием
  %b http
  %pre
    %code
      = preserve do
        :escaped
          http://95.85.42.60/api/v1/contacts?access_token={{user.access_token}}
%p
  Пример на
  %b PHP
  %pre
    = preserve do
      :escaped
        $body=file_get_contents("http://95.85.42.60/api/v1/contacts?access_token={{user.access_token}}");
        // $body = [{"number":"9888888888"},{"number":"9888888887"}];
        $decoded_json = json_decode($body, true);
        foreach($decoded_json as $number){
          echo $number["number"];
          echo "<br>";
        }
        // Выведет:
        // 9888888888
        // 9888888887

%br
%p.lead
  Адрес метода:
%blockquote
  %b http://95.85.42.60/api/v1/contacts

= render 'templates/documentation/authorization_params'

%table.table.table-hover
  %thead
    %tr
      %th(colspan=3)
        Варианты ответа
    %tr
      %th Ответ
      %th Описание
  %tbody
    %tr
      %td
        %code [{number: "9888888888"}, {...}]
      %td
        Список номеров в формате json, представляющий собой массив, элеметами которого являются объекты, содержащие поле
        %code number
