= render 'page_header', title: t('documentation.header')
%h2 Оглавление
%p.lead(ng-show="{{user.signed_in}}")
  Ваш апи ключ
  %b {{user.access_token}}
%p.lead(ng-hide="{{user.signed_in}}")
  = link_to "#{t('common.sign_in')},", new_user_session_path
  = t('common.to_get_access_token')
.list-group
  %a.list-group-item(ui-sref="documentation.send_message" ui-sref-active)
    %h4.list-group-item-heading= t('documentation.send_message')
    %p.list-group-item-text= t('documentation.send_message_description')
  %a.list-group-item(ui-sref="documentation.contacts" ui-sref-active)
    %h4.list-group-item-heading= t('documentation.contacts')
    %p.list-group-item-text= t('documentation.contacts_description')
  %a.list-group-item(ui-sref="documentation.add_contact" ui-sref-active)
    %h4.list-group-item-heading= t('documentation.add_contact')
    %p.list-group-item-text= t('documentation.add_contact_description')
  %a.list-group-item(ui-sref="documentation.delete_contact" ui-sref-active)
    %h4.list-group-item-heading= t('documentation.delete_contact')
    %p.list-group-item-text= t('documentation.delete_contact_description')
