= render 'page_header', title: t('documentation.send_message')

%p.lead= t('documentation.send_message_description')

%p
  Пример с использованием
  %b http
  %pre
    = preserve do
      :escaped
        http://95.85.42.60/api/v1/messages/send_message?access_token={{user.access_token}}&text=hello+world

%p
  Пример на
  %b PHP
  %pre
    = preserve do
      :escaped
        $body=file_get_contents("http://95.85.42.60/api/v1/contacts/add?access_token={{user.access_token}}&text=".urlencode(iconv("windows-1251","utf-8","Hello")));


%br
%p.lead
  Адрес метода:
%blockquote
  %b http://95.85.42.60/api/v1/messages/send_message

%table.table.table-hover
  %thead
    %tr
      %th(colspan=3)
        Параметры метода
    %tr
      %th Параметр
      %th Обязательный
      %th Описание
  %tbody
    %tr
      %td
        %code text
      %td
        Да
      %td
        Текст сообщения, который необходимо отправить в кодировке utf-8
    %tr
      %td
        %code test
      %td
        Нет
      %td
        Если параметр равен
        %code true
        , то сообщение не будет отправлено. Параметр предназначен для тестирования метода.

= render 'templates/documentation/authorization_params'

%table.table.table-hover
  %thead
    %tr
      %th(colspan=3)
        Варианты ответа
    %tr
      %th Ответ
      %th Описание
  %tbody
    %tr
      %td
        %code
          \{
          %br
          = "&nbsp".html_safe
          \   status: "ok",
          %br
          = "&nbsp".html_safe
          \   message: {id: "0", text: "Message text"}
          %br
          \}
      %td
        Успешный статус в формате json, в переменной
        %code message
        хранится информация о сообщение: его идентификатор и текст

    %tr
      %td
        %code {status: "error", errors: "Текст ошибки"c}
      %td
        Статус, возвращаемый при ошибке. Текст ошибок приведен в параметре errors
