.modal-header
  %button.close(type="button" ng-click="cancel()" aria-hidden="true")
    &times;
  %h4.modal-title Clear group {{currentState.group.name}}
.modal-body
  %h3(ng-show="currentState.group.editable === true") Are you sure you want to delete {{contact_num(currentState.group.contacts_count)}} contact(s) from group?
  %h3(ng-hide="currentState.group.editable === true") Are you sure you want to permanently delete {{contact_num(currentState.group.contacts_count)}} contact(s)?
.modal-footer
  %button.btn.btn-default(ng-click="cancel()") Cancel
  %button.btn.btn-primary(ng-click="ok()") Clear
