.modal-header
  %button.close(type="button" ng-click="cancel()" aria-hidden="true")
    &times;
  %h4.modal-title Deleting group {{currentState.group.name}}
.modal-body
  %h3 Are you sure you want permanently remove {{currentState.group.name}}
.modal-footer
  %button.btn.btn-default(ng-click="cancel()") Cancel
  %button.btn.btn-primary(ng-click="ok()") Remove
