%ul.nav.nav-pills.nav-stacked
  %li(ng-repeat="group in groups" ng-class="{active: currentState.group.id == group.id}")
    %a.pointable(ng-click="showContacts(group)")
      {{group.name}}
      &nbsp;
      &nbsp;
      &nbsp;
      %span
        %i.fa.fa-user
        {{group.contacts_count}}
      %span(ng-show="group.editable")
        %span.pointable.close(type="button" ng-click="confirmGroupDelete(group)") &times;
        %span.pointable.fa.fa-pencil(ng-click="editGroup(group)")
