.modal-header
  %button.close(type="button" ng-click="cancel()" aria-hidden="true")
    &times;
  %h4.modal-title(ng-hide="group.id") New group
  %h4.modal-title(ng-show="group.id") Change group {{groupBackup.name}}
.modal-body
  %form(name="new_group")
    .form-group
      %label(for="group[name]") Group name
      %input.form-control(type="text" name="group[name]" ng-model="group.name" focus-me="shouldBeOpen" required)

.modal-footer
  %button.btn.btn-default(ng-click="cancel()") Cancel
  %button.btn.btn-primary(ng-click="ok()" ng-disabled="!new_group.$valid") Save
