%table.table.table-condensed
  %tr
    %th Phone number
    %th Contact name
    %th Status
    %th Sent
    %th Change
    %th SMS
  %tr(ng-repeat="contactMessage in contactMessages")
    %td
      {{contactMessage.contact_number}}
    %td
      {{contactMessage.contact_full_name}}
    %td
      %span(ng-class="{'text-success': contactMessage.status == 'success', 'text-danger': contactMessage.status=='error', 'text-muted': contactMessage.status=='queue'}")
        %i.fa.fa-check.fg-green(title="Success" ng-show="contactMessage.status == 'success'")
        %i.fa.fa-clock-o.fg-blue(title="In queue"  ng-show="contactMessage.status == 'queue'")
        %i.fa.fa-times.fg-red(title="Failed to send" ng-show="contactMessage.status == 'error'")
    %td
      {{contactMessage.created_at | date:'dd.MM.yyyy HH:mm'}}
    %td
      {{contactMessage.updated_at | date:'dd.MM.yyyy HH:mm'}}
    %td
      {{message.sms_count}}
%div(ng-show="contactMessagesPagination && contactMessagesPagination.totalPages > 1" )
  %pagination(total-items="contactMessagesPagination.totalEntries" max-size="5" boundary-links="true" rotate="false" page="currentState.page" first-text="First" last-text="Last" next-text="Next" previous-text="Previous" on-select-page="setPage(page)" items-per-page="contactMessagesPagination.itemsPerPage")
