%ul.list-inline
  %li
    %a.btn.btn-default(ng-click="newMessage()")
      %i.fa.fa-plus
      New message

.row
  %form.col-md-10
    .input-group.form-group
      %input.form-control(type="text" ng-model="searchQuery" ui-keydown="{'enter':'search(searchQuery)'}" ng-change="search(searchQuery)" placeholder="Поиск...")
      %span.input-group-btn
        %button.btn.btn-default(type="button" ng-click="search(searchQuery)")
          %i.fa.fa-search
  .col-md-2
    %a.btn.btn-default(ng-click="getMessages()")
      %i.fa.fa-refresh
      Refresh
%table.table.table-condensed
  %tr
    %th
      %input(type="checkbox" ng-model="selected.allMessages")
    %th Text
    %th Started at
    %th Finished at
    %th
      SMS
    %th
      %i.fa.fa-check.fg-green(title="Успешно отправлено")
    %th
      %i.fa.fa-clock-o.fg-blue(title="В очереди")
    %th
      %i.fa.fa-times.fg-red(title="Не удалось отправить")
    %th
      Status
    %th
      Actions
  %tr(ng-repeat="message in messages")
    %td
      %input(type="checkbox" ng-model="message.selected")
    %td
      %a(ui-sref="messages_show({messageId: message.id})")
        {{message.text | truncate: 60}}
    %td
      {{message.created_at | date:'dd.MM.yyyy HH:mm'}}
    %td
      {{message.created_at | date:'dd.MM.yyyy HH:mm'}}
    %td
      %span.text-primary(title="Total") {{message.message_all}}
    %td
      %span(title="Success") {{message.message_success}}
    %td
      %span.text-muted(title="In queue") {{message.message_queue}}
    %td
      %span.text-danger(title="Failed") {{message.message_error}}
    %td
      {{message.status_message}}
    %td
      %a.btn.btn-default.btn-xs(ng-click="deleteMessage(message)" ng-show="message.status=='suspended'" title="Remove")
        %i.fa.fa-trash-o
      %a.btn.btn-default.btn-xs(ng-click="restartMessage(message)" title="Resend" ng-show="message.status=='suspended'")
        %i.fa.fa-refresh

%div(ng-show="messagesPagination && messagesPagination.totalPages > 1" )
  %pagination(total-items="messagesPagination.totalEntries" max-size="5" boundary-links="true" rotate="false" page="currentState.page" first-text="First" last-text="Last" next-text="Next" previous-text="Previous" on-select-page="setPage(page)" items-per-page="messagesPagination.itemsPerPage")

