%ul.list-unstyled
  %li
    %b Message text:
  %li {{message.text}}
%ul.list-unstyled
  %li
    %b Sender:
  %li
    {{message.sender_name}}
%ul.list-unstyled
  %li
    %b Start date:
  %li {{message.created_at | date:'dd.MM.yyyy HH:mm'}}

%ul.list-unstyled
  %li
    %b Last updated at:
  %li {{message.updated_at | date:'dd.MM.yyyy HH:mm'}}

%ul.list-unstyled
  %li
    %b SMS number:
  %li {{message.sms_to_send}}
%ul.list-unstyled
  %li
    %b Status:
  %li
    %span(ng-class="{'text-success': message.status == 'success', 'text-danger': message.status=='error', 'text-muted': message.status=='queue'}")
      %i.fa.fa-check(title="Sucess" ng-show="message.status == 'success'")
      %i.fa.fa-clock-o(title="In queue" ng-show="message.status == 'queue'")
      %i.fa.fa-times(title="Failed to send" ng-show="message.status == 'suspended'")
    {{message.status_message}}
