.modal-header
  %button.close(type="button" ng-click="cancel()" aria-hidden="true")
    &times;
  %h4.modal-title New message
.modal-body
  %form(name="new_message")
    .form-group
      %label(for="message[text]") Message text
      %textarea.form-control(name="message[text]" ng-model="message.text" focus-me="shouldBeOpen" required)
      %p.help-block
        Symbols {{message.text.length || 0}}/{{message.symbols_in_message}}
        Messages {{message.messages_count}}
    .form-group
      %label Группы
      %select.form-control(ui-select2="groupsSelect" multiple ng-model="selected.group_ids" data-placeholder="Choose a group")
        %option
        %option(ng-repeat="group in groups" value="{{group.id}}") {{group.name}}

    .form-group
      %label Contacts
      %input.form-control(ui-select2="contactsSelect" type="hidden" multiple ng-model="selected.contact_ids" data-placeholder="Choose contacts")
      %br

    .form-group
      %label
        Individual contacts
        (one phone number per string in format 9xxxxxxxxx)
      %textarea.form-control(name="message[numbers]" ng-model="message.numbers")

    %p Selected contacts: {{selected.contacts.length + selected.numbers.length + selected.group_contacts_number}}

.modal-footer
  %button.btn.btn-default(ng-click="cancel()") Cancel
  %button.btn.btn-primary(ng-click="ok()" ng-disabled="!new_message.$valid || (selected.contacts.length + selected.numbers.length + selected.group_contacts_number) === 0") Create
