.row
  .col-md-3
    %div(ng-include="'/templates/messages/_message_aside.html'")

  .col-md-9
    .row
      .col-md-10
        %ul.list-inline
          %li
            %a.btn.btn-default(ui-sref="messages")
              %i.fa.fa-arrow-left
              Back
    .row
      %form.col-md-10
        .input-group.form-group
          %input.form-control(type="text" ng-model="searchQuery" ui-keydown="{'enter':'search(searchQuery)'}" ng-change="search(searchQuery)" placeholder="Search...")
          %span.input-group-btn
            %button.btn.btn-default(type="button" ng-click="search(searchQuery)")
              %i.fa.fa-search
      .col-md-2
        %a.btn.btn-default(ng-click="getMessage()")
          %i.fa.fa-refresh
          Refresh

    %div(ng-include="'/templates/messages/_contact_messages_list.html'")
