.modal-header
  %button.close(type="button" ng-click="cancel()" aria-hidden="true")
    &times;
  %h4.modal-title(ng-hide="contact.id") Adding contact to group {{currentState.group.name}}
  %h4.modal-title(ng-show="contact.id") Change contact {{contactBackup.name}} {{contactBackup.number}}
.modal-body
  %form(name="new_contact")
    .form-group
      %label(for="contact[number]") Phone number
      .input-group
        %span.input-group-addon +7
        %input.form-control(type="text" name="contact[number]" ng-model="contact.number" focus-me="shouldBeOpen" ui-mask="(999)999 99 99" required)
    .form-group
      %label(for="contact[last_name]") Surname
      %input.form-control(type="text" name="contact[last_name]" ng-model="contact.last_name")
    .form-group
      %label(for="contact[name]") First name
      %input.form-control(type="text" name="contact[name]" ng-model="contact.name")
    .form-group
      %label(for="contact[surname]") Middle name
      %input.form-control(type="text" name="contact[surname]" ng-model="contact.surname")

.modal-footer
  %button.btn.btn-default(ng-click="cancel()") Cancel
  %button.btn.btn-primary(ng-disabled="!new_contact.$valid" ng-click="ok()") Save
