.modal-header
  %button.close(type="button" ng-click="cancel()" aria-hidden="true")
    &times;
  %h4.modal-title Adding {{selected.contacts.length}} contact(s) to group
.modal-body
  %form(name="new_contact_groups")
    %label(for="contact[group_ids]") Choose group to transfer to
    %select(ng-model="selected.group" ng-options="group.name for group in currentState.groups" required name="contact[group_ids]")
.modal-footer
  %button.btn.btn-default(ng-click="cancel()") Cancel
  %button.btn.btn-primary(ng-click="ok()") Add
