%table.table.table-condensed
  %tr
    %th
      %input(type="checkbox" ng-model="selected.allContacts")
    %th Phone number
    %th First name
    %th Middle name
    %th Last name
    %th &nbsp;
  %tr(ng-show="contacts.length == 0")
    %td(colspan="6")
      %h2 Пусто :(
  %tr.contact(ng-repeat="contact in contacts")
    %td
      %input(type="checkbox" ng-model="contact.selected")
    %td
      {{contact.number}}
    %td
      {{contact.name}}
    %td
      {{contact.last_name}}
    %td
      {{contact.surname}}
    %td.actions
      .show_on_hover
        %a.btn.btn-default.btn-xs(ng-click="deleteContact(contact)")
          %i.fa.fa-trash-o
        %a.btn.btn-default.btn-xs(ng-click="editContact(contact)")
          %i.fa.fa-pencil

%div( ng-show="contactsPagination && contactsPagination.totalPages > 1" )
  %pagination(total-items="contactsPagination.totalEntries" max-size="5" boundary-links="true" rotate="false" page="currentState.page" first-text="First" last-text="Last" next-text="Next" previous-text="Previous" on-select-page="setPage(page)" items-per-page="contactsPagination.itemsPerPage")
