%ul.list-inline
  %li
    .btn-group
      %a.btn.btn-default(ng-click="editContact('new')")
        %i.fa.fa-plus
        New contact
  %li
    .btn-group
      %a.btn.btn-default(ng-disabled="selected.contacts.length === 0" ng-click="deleteSelected()")
        %i.fa.fa-minus
        Remove
      %a.btn.btn-default(ng-disabled="selected.contacts.length === 0 || currentState.groups.length === 0" ng-click="copyToGroupForm()")
        Copy
        %i.fa.fa-copy
  %li
    %a.btn.btn-default(ng-disabled="currentState.group.contacts_count == 0" ng-click="confirmGroupClear()")
      %i.fa.fa-trash-o
      Clear group
  %li.pull-right
    .btn-group
      %span.fileUpload.btn.btn-default(ng-controller="smsUploaderCtrl")
        %span
          %i.fa.fa-cloud-upload
          Import
        %input.upload(ng-file-select type="file" multiple)
      %a.btn.btn-default(ng-click="download()" ng-disabled="contacts.length == 0")
        %i.fa.fa-cloud-download
        Export
.row
  %form.col-md-10
    .input-group.form-group
      %input.form-control(type="text" ng-model="searchQuery" ui-keydown="{'enter':'search(searchQuery)'}" ng-change="search(searchQuery)" placeholder="Search...")
      %span.input-group-btn
        %button.btn.btn-default(type="button" ng-click="search(searchQuery)")
          %i.fa.fa-search
  .col-md-2
    %a.btn.btn-default(ng-click="refresh()")
      %i.fa.fa-refresh
      Refresh
%div(ng-include="'/templates/contacts/_contact_list.html'")

