%div(ui-scrollfix="100")
  %ul.list-unstyled
    %li
      %a.btn.btn-default(ng-click="editGroup('new')")
        %i.fa.fa-folder-open
        New group
  %div(ng-include="'/templates/groups/_group_list.html'")
