@import 'bootstrap/docs';
@import 'bootstrap/select2';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'nprogress';
@import 'uploader';
@import 'upload_button';
body{
  margin-top: 60px;
  position: relative;
}
.translation_missing{
  background-color: red;
}
.page-header{
  margin-top: 0;
}
.pointable, a{
  cursor: pointer;
}
.ui-scrollfix{
  position: fixed;
}

.contact{
  .show_on_hover{
    display: none;
  }
  &:hover{
    .show_on_hover{
      display: block;
    }
  }
  .actions{
    width:60px;
  }
}
