.album, .list {
    margin: 20px 20px 20px 20px;
}

.file-button-area {
    margin-top: 20px;
    width: 400px;
    /*float: left;*/
}

.error-area {
    margin-bottom: 0;
    min-height: 30px;
}

.album .error-area {
    margin: 0 0 0 400px;
}

.file-item.active .file-item-link {
    outline: solid 2px #00afea;
}
.file-item .close {
    position: absolute;
    right: 0;
    margin: -4px -1px 0 0;
}

.upload-area {
    margin: 10px 0 10px 0;
    padding-bottom: 10px;
    border: solid 1px #aaa;
    min-height: 100px;
    background: #eee;
}

.file-item {
    position: relative;
    display: inline-block;
    margin: 10px 0 0 10px;
    vertical-align: top;
    height: 100px;
    width: 100px;
}

.dragover-file {
    background-color: rgba(0, 42, 128, 0.1);
}
.dragover-plain {
    background-color: rgba(255, 0, 0, 0.1);
}

.ui-sortable-placeholder {
    background-color: #888 !important;
    visibility: visible !important;
    opacity: 0.2;
}

.file-item-link {
    display: block;
    width: 100px;
    height: 100px;
}

.file-item-img {
    display: block;
    height: 100px;
    width: 100px;
}

.progress {
  height: 5px;
}

.alert {
  line-height: 1.6;
}


/* Стили списка */
.list-item {
    padding-bottom: 1px;
}
.list-item-drag {
    color: #aaa;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    padding-bottom: 4px;
}
.list-item-lang {
    display: inline-block;
}
.list-item-lang label {
    display: inline-block;
    width: 220px;
}
.list-item-delete {
    display: inline-block;
    width: 20px;
}
.ui-sortable-placeholder {
    background-color: #888 !important;
    visibility: visible !important;
    opacity: 0.2;
}

.file-item .progress{
    margin-top: 25px;
    margin-bottom: 0;
}
