= form_for [:admin, @user], html: {autocomplete: 'off'} do |f|
  .form-group
    = f.label :email, "Email"
    = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :password, "Password"
    = f.password_field :password, class: 'form-control'
  .form-group
    = f.label :password_confirmation, "Confirm password"
    = f.password_field :password_confirmation, class: 'form-control'
  .form-group
    = f.label :sms_amount, "SMS Balance"
    = f.text_field :sms_amount, class: 'form-control'
  .form-group
    = f.label :sender, "Sender"
    = f.text_field :sender, class: 'form-control'
  .form-group
    = f.label :contract, "Contract"
    = f.select :contract, options_for_select([['Обычный', 'default'], ['Прямой', 'alpha']], @user.contract)
  .form-group
    = f.label :role, "Role"
    = f.select :role, [["Administrator", "admin"], ["User", "user"]], {include_blank: false}, class: 'form-control'
  = f.submit "Save"
