= link_to "New user", new_admin_user_path, class: 'btn btn-default'

%table.table
  %tr
    %th Email
    %th Role
    %th Actions
  - @users.each do |user|
    %tr(id="user_#{user.id}")
      %td= user.email
      %td= user.user_role
      %td
        = link_to "Remove", admin_user_path(user), method: :delete, remote: true
        = link_to "Update", edit_admin_user_path(user)
        = link_to "Become", "/switch_user?scope_identifier=user_#{user.id}"
