%nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#nav-collapse")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href="/") Sms
    #nav-collapse.collapse.navbar-collapse
      - if signed_in?
        %ul.nav.navbar-nav
          %li(ng-class="{active: state.current.data.feature == 'messages'}")
            %a(ui-sref='messages')
              %i.icon-document
              Messages
          %li(ng-class="{active: state.current.data.feature == 'contacts'}")
            %a(ui-sref='contacts.list')
              %i.icon-document
              Contacts
          %li(ng-class="{active: state.current.data.feature == 'documentation'}")
            %a(ui-sref='documentation.contents')
              %i.icon-document
              API
      - if signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li
            %a
              Balance:
              {{user.balance}} SMS
          %li.dropdown
            = link_to current_user.email, "#", class: "dropdown-toggle", "data-toggle" => "dropdown"
            %ul.dropdown-menu
              - if permitted_to? :manage, :admin_users
                %li= link_to "Settings", admin_root_path
              %li= link_to "Sign out", destroy_user_session_path, method: :delete
      - else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Sign in", new_user_session_path
