!!!
%html(ng-app="sms" lang="en")
  %head
    %title Sms
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = include_gon
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body.container
  %div(ng-controller="smsApplicationCtrl")
    = render 'navigation'
    = yield
